<!-- <h1>Home#gallery</h1> -->
<!-- <p>Find me in app/views/home/gallery.html.erb</p> -->

<!-- http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/ -->
        <!-- Navigation Start -->
        <div class="navigation bordercolr">
        	<div id="smoothmenu1" class="ddsmoothmenu">
            	<ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="aboutus">About Us</a>
                    	<!--<ul class="backcolr">
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Our Cause</a></li>
                            <li><a href="#">Our Impact</a></li>
                        </ul>-->
                    </li>
	            <li class="current-menu-item"><a href="events">Get Involved</a>
                    	<ul class="backcolr">
                            <li><a href="events">Attend an Event</a></li>
                            <li><a href="http://bit.ly/AIFBAYP_GetInvolved">Become a Member</a></li>
                            <li><a href="https://donate.aif.org">Donate</a></li>
                        </ul>		    
		    </li>
		    <!--<li><a href="events.html">Events</a></li>
                    <li><a href="sermons.html">Sermons</a></li>
                    <li><a href="#">Gallery</a>
                    	<ul class="backcolr">
                        	<li><a href="portfolio.html">Gallery - Grid</a></li>
                            <li><a href="portfolio-slideshow.html">Gallery - SlideShow</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Pages</a>
                    	<ul class="backcolr">
                        	<li><a href="index.html">Home</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-detail.html">Blog Detail</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="sermons.html">Sermons</a></li>
                            <li><a href="#">Gallery</a>
                            	<ul>
                                	<li><a href="portfolio.html">Gallery - Grid</a></li>
                                    <li><a href="portfolio-slideshow.html">Gallery - SlideShow</a></li>
                                </ul>	
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
		    -->
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <!-- Navigation End -->
        <div class="clear"></div>

        <!-- Bread Crumb Start -->
        <div class="breadcrumb">
        	<ul>
            	<li><a href="#">Come to our next event on Saturday, October 20! Blahblabhablh</a></li>
                <!--<li><a href="#">Latest Blogs</a></li>
                <li><a href="#">June 2012</a></li>-->
            </ul>
            <div class="clear"></div>
        </div>
        <!-- Bread Crumb End -->
        <!-- Page Heading Section Start -->
        <div class="pageheading">
        	<div class="textsec">
                <h1 class="colr">Image Gallery - Slide Show</h1>
            </div>
            <div class="social">
            	<!--<ul>
                    <li><a href="#" class="tweet-icon">&nbsp;</a></li>
                    <li><a href="#" class="fb-icon">&nbsp;</a></li>
                </ul>-->
		<div class="fb-like" data-href="http://www.facebook.com/AIFBayAreaYP" data-send="false" data-layout="button-count" data-width="20" data-show-faces="false"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Page Heading Section End -->
        <div class="clear"></div>
    </div>
</div>
<!-- Header End -->
<!-- Content Section Start /large1.jpg -->
<div id="contentsec">
	<div class="inner">
        <!-- Full Width Section Start -->
        <div class="fullwidth overflow">
        	<!-- Gallery Filter Buttons Start -->
            <div class="gallery-filter">
            	<p class="total-pics">234 Images and 55 Videos</p>
                <div class="right">
                	<div class="filter">
                    	<ul id="filterOptions">
                        	<li class="active"><a href="#" class="all"><span>&nbsp;</span>View All</a></li>
                            <li><a href="#" class="videos"><span>&nbsp;</span>Videos</a></li>
                            <li><a href="#" class="images"><span>&nbsp;</span>Images</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Gallery Filter Buttons End -->
            <!-- Gallery Grid Start -->
            <ul class="gallery-grid ourHolder">
            	<li class="item" id="id-1" value="videos">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal1.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
                <li class="item" id="id-2" value="images">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal2.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
                <li class="item" id="id-3" value="videos">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal3.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
                <li class="item" id="id-4" value="images">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal4.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
                <li class="item" id="id-5" value="videos">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal5.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
                <li class="item" id="id-6" value="images">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal6.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
                <li class="item" id="id-7" value="videos">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal7.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
                <li class="item" id="id-8" value="images">
                	<a href="#" class="thumb"><img src="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/gal8.jpg" alt="" /></a>
                    <div class="thumb-hover">
						<a href="http://www.chimpstudio.co.uk/themeforest/church/justbelieve/images/banner1.jpg" class="tip4 zoom">&nbsp;</a>
                    </div>
                </li>
            </ul>
            <!-- Gallery Grid End -->
            <!-- Pagination Start -->
            <div class="pagination">
            	<ul>
                	<li><a href="#">Previous</a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li>...</li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">26</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            <!-- Pagination End -->
            <div class="clear"></div>
            <br />
        </div>
        <!-- Full Width Section Start -->
    </div>
</div>
<!-- Content Section End -->
